
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Julius+Sans+One&family=Hind:wght@500&family=Poppins:wght@500&display=swap');


body{
    background-color:#12162F ;
    padding: 0;
    margin: 0;
}
header{
    height:20vh;
    width: 100vw;
} 
.navbar{
    position: absolute; 
    padding:20px; 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100VW;
    box-sizing: border-box;
}
.navbar >div{
    grid-column: 2 /span 4;
}
/* Style navbar horizontal */
.navbar .listMenu ul li a{
    color: rgba(250, 235, 215, 0.795);
    text-decoration: none;
    font-family: 'Calibri', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: medium;
}
.navbar .listMenu ul li a:hover{
    color:#B7915E;
}
.navbar .icon{
    width: 5vw;
    height: 5vh;
}
.menuBurger{
    align-items: start;
    justify-items: end;
    display: none;
    width: 60px;    
}
.navbar #openBtn{
    grid-column: 4;
}

/*le menu de la liste sur une ligne*/
.navbar .listMenu ul{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.navbar .listMenu ul li{
    margin:0 20px;
}

/*Navbar responsive*/
@media screen and (max-width:700px) {
    .listMenu{
        display: none;
    }
    .navbar .menuBurger{
        display: block;
    } 
    
}
/*Menu burger qui s'ouvre sur la droite*/
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;/*ne bouge pas*/
    z-index: 3; /*reste au dessus*/
    top: 0;
    right: -250px;
    background-color: #EEE2CF;
    padding-top: 60px;
    transition: left 0.5s ease;
}
/* Sidenav menu*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #B7915E;
    font-size: 20px;
}
.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  /* Active class */
.sidenav.active {
    right: 0;
}

  /* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.carousel-inner{
    padding-left: 70px;
    padding-right: 70px;
    width: 70vw;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;
} 

/* Mise en page des articles */
/* .corp{
    background: url("ImagesAjna/image1.svg");
    background-repeat: no-repeat;

} */

/* @media only screen and (max-width:700px) {
    .articles{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .galerie{

        grid-template-columns: 1fr;
        grid-template-rows: auto;
    } 
}*/
.articles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    align-items: center;
    grid-gap: 5vw;
    padding: 10px;
}
.articles > div{
    color: #f5f5f5;
    background-color: #121b2fcf;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 5vw;
    padding-right: 5vw; 
    
}


.section > h1{
    font-family:'Julius Sans One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 180%;
    color: #D5B584;
    text-align: center;
    font-weight: 900;

}
.section > h3{
    font-family:'Julius Sans One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 180%;
    color: #D5B584;
    text-align: center;  
    font-weight: 900;  
} 
.section > h2{
    font-family:'Poppin','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 150%;
    text-align: center;    
}
.section > p{
    font-family:'Hind','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size:100%;
    text-align: justify;
    margin-top: 5%;  
}

/* Style du bouton */
.section > button{
    font-family:'Poppin', 'Trebuchet MS', sans-serif;
    font-size:100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 7px ;
    color:#f5f5f5 ;
    background-color: #be985f;
    box-shadow: none;
    padding-right: 15px;
    padding-left: 15px;
    
}
.section > button:hover{
    background-color: #416E99;
}
/*Disparition de l'illustration au responsive*/
@media screen and (max-width:900px) {
    #illustration{
        display: none;
    }
}

/* mise en page de la galerie */

.menu > img{
    width: 248px;
    height: 200px;
}
.menu{
    padding: 1vw;
}
.galerie{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items:first baseline;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: #121b2fcf;
}

.menu > h2{
    font-family:'Hind', 'Trebuchet MS', sans-serif;
    color:#f5f5f5 ;
    font-size: large;
    text-align: center;
    margin-top: 10px; 
}  


/*Mise en page footer*/


.listFooter{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 11vw 11vw 11vw 33vw 33vw;
    align-items:first baseline;
}
 
/* @media screen and (max-width:600px) {
    .listFooter{
        grid-template-columns: 50vw 50vw 50vw;
    }
}
 */
.iconFooter{
    width: 4vw;
    height: 4vh;
}


#fb{
    grid-column: 1;
    grid-row: 2;
}
#insta{
    grid-column: 2;
    grid-row: 2;
}
#youTube{
    grid-column: 3;
    grid-row: 2;
}
#conditions{
    grid-column: 5;
    grid-row: 2;
    color:#f5f5f5;
    text-align: center; 
    text-decoration: none;
    font-size: 2.5vh;
}
#mentions{
    grid-column: 5;
    text-align: center; 
    font-size: 2.5vh;
}
.listFooter p{
    grid-column: 4;
    grid-row: 2;
    color:#f5f5f5;
    font-size: 2vh;
    justify-items: center;
    text-align: center; 
}

/*Mise en page corp formulaire*/

#formulaire{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    color:#f5f5f5 ;
    justify-items: center;
    align-items:center;
    margin:5vw;
    background-image: url(ImagesAjna/yoga-silhouette-coucher-soleil-fond.jpg);
    background-size: cover;
}
#bgAdresse{
    background: rgba(0, 0, 0, 0.4);
    size: 50vw;
}

#adresse_contact > h2{
    font-family:'Poppin','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 2vw;
    text-align: center;
    color: #f0ece6;    

}
#adresse_contact > p{
    align-items: center;
    font-size: 1,5vw;
    text-align: center; 
    text-decoration:none;
    color: #EEE2CF;     
}

#mailAjna{
    color: #EEE2CF;
}

/*Mise en forme input formulaire*/
#contactez-moi {
    
    padding-left: 5vw;
    padding-top: 3vw;
    align-items: justify center;
    background: rgba(0, 0, 0, 0.6);
}
#contactez-moi > h1{
    font-family:'Julius Sans One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    color:#EEE2CF;
}
#contactez-moi > p{
    font-family: 'Hind', 'Trebuchet MS', sans-serif;
    color: #EEE2CF;
    text-align: first baseline;
    margin-right: 12vw;
}

form div {
    width: 70%;
    display: flex;
    flex-direction: column;
    /*min-height: 83px;*/
    margin-top: 25px;
    }
    
form div > label {
    margin-bottom: 4px;
    font-size: 1,5vw;
    color: #EEE2CF;
    }
    
form div > input, form div > textarea {
    background-color: #EEE2CF;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    font-weight: 500;
    font-family: 'Hind', 'Trebuchet MS', sans-serif;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    }
    
form div > input{
    height: 2vw;
    padding-left: 2vw;
    }
    
    
form div > textarea {
    height: 15vw;
    padding: 1vw 0vw 0vw 0,5vw;
    }
    
form div > input::placeholder, form div > textarea::placeholder {
    color: #818181;
    
    }
form div > textarea::placeholder {
    padding-left: 2vw;
}
    
    
form div:last-child {
    align-items:center;
    margin-top: 20px;
    }
    
form button {
    font-family:'Poppin', 'Trebuchet MS', sans-serif;
    font-size:100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 7px ;
    color:#f5f5f5 ;
    background-color: #be985f;
    box-shadow: none;
    padding-right: 15px;
    padding-left: 15px;
    }

    #merci{
        display:grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items:center;
        padding-top: 5vw;
        padding-bottom: 10vw;
        
        color: #be985f;
        font-family:'Poppin', 'Trebuchet MS', sans-serif;
        font-size: 2vw;
    }

    #accuse{
        font-family:'Poppin', 'Trebuchet MS', sans-serif;
        color: #be985f;
    }



    /*Mise en page Connexion*/

    #connexion_utilisateur{
        display: grid;
        /*padding-left: 3vw;*/
        grid-template-columns: auto;
        padding-top: 2vw;
        padding-left: 1vw;
        padding-right: 1vw;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        
    }

    #connexion_utilisateur > h2{
        font-family:'Julius Sans One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2vw;
        color: #f0ece6;    
    }
    #bgConnexion {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #formConnexion{
        display: grid;
        width: 25vw;
        justify-self: center;
        align-self: center;
    }
    #formConnexion>div{
        justify-self: center;
        align-self: center;
    }
    #connexion_utilisateur >div{
        padding: 1vw;
    }
        
    #connexion_utilisateur> label {
        display: inline-block;
        white-space: nowrap;
    }

    #connexion_utilisateur input {
        width: 100%;
        padding: 1vw;
        box-sizing: border-box;
    }

   
   #inscription_utilisateur{
    padding-left: 5vw;
    padding-top: 3vw;
    align-items: justify center;
    background: rgba(0, 0, 0, 0.6);
   } 

   #inscription_utilisateur>h2,#connexion_utilisateur>h2{
    font-family:'Julius Sans One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    color:#EEE2CF;
   }

   #inscription_utilisateur>div{
    width: 70%;
    display: flex;
    flex-direction: column;
    /*min-height: 83px;*/
    margin-top: 25px;
   }

   #inscription_utilisateur>div > label {
    margin-bottom: 4px;
    font-size: 1,5vw;
    color: #EEE2CF;
    }
    
    #inscription_utilisateur>div> input{
    background-color: #EEE2CF;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    font-weight: 500;
    font-family: 'Hind', 'Trebuchet MS', sans-serif;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    }
    
    #inscription_utilisateur>div > input{
    height: 2vw;
    padding-left: 2vw;
    }
    
    
    #inscription_utilisateur>div > input::placeholder{
    color: #818181;
    
    }

    
    
    #inscription_utilisateur>div:last-child {
    align-items:center;
    margin-top: 20px;
    }

    #refresh2{
        font-family:'Poppin', 'Trebuchet MS', sans-serif;
        font-size:100%;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        border-radius: 7px ;
        color:#f5f5f5 ;
        background-color: #be985f;
        box-shadow: none;
        padding-right: 15px;
        padding-left: 15px;
        }

    .msgError{
    font-weight: 600;
    font-family: 'Hind', 'Trebuchet MS', sans-serif;
    color: #dd371a;
    }